/* desktop code to go here */
#nav-support-mesh2motion,
#nav-github,
#learn-link,
#m2m-model-github-link
{
    display: none;
}

/* this makes links not clickable */
a#logo-branding {
    pointer-events: none;
    text-decoration: none;
}

.download-success-section {
    display: none !important;
}

.download-success-desktop {
    display: block !important;
}