/* desktop code to go here */
#nav-support-mesh2motion,
#nav-github
{
    display: none;
}

/* this makes links not clickable */
a#logo-branding {
    pointer-events: none;
    text-decoration: none;
}